<%- include('../partials/header') %>

<div class="main-container">
    <%- include('../partials/sidebar') %>
    
    <div class="content-area">
        <%- body %>
    </div>
</div>

<%- include('../partials/footer') %> 