<div class="modal fade" id="editTeamModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Team bearbeiten</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form action="/team/update/<%= team.id %>" method="POST">
                <div class="modal-body">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    
                    <div class="mb-3">
                        <label for="editName" class="form-label">Teamname</label>
                        <input type="text" class="form-control" id="editName" name="name" 
                               value="<%= team.name %>" required>
                    </div>

                    <div class="mb-3">
                        <label for="editCity" class="form-label">Heimatort</label>
                        <input type="text" class="form-control" id="editCity" name="city" 
                               value="<%= team.city %>" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div> 