<%- include('../partials/header') %>

<div class="container mt-4">
    <h1>Dashboard</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Willkommen!</h5>
            <p class="card-text">Du bist eingeloggt.</p>
            <a href="/auth/logout" class="btn btn-danger">Ausloggen</a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %> 